<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.HistoryMapper">
	<!-- histories全件取得 -->
	<select id="findByUserId"
		resultType="com.example.app.domain.History">
		SELECT * FROM histories WHERE user_id = #{userId} ORDER BY history_date ASC
	</select>

	<!-- 新規追加 -->
	<insert id="addHistory">
		INSERT INTO histories(user_id,
		category_id, amount,
		history_date, note, created_at)
		VALUES(#{history.userId},
		#{history.categoryId},
		#{history.amount}, #{history.historyDate},
		"",NOW())
	</insert>

	<!-- 編集 -->
	<update id="editHistory">
		UPDATE histories
		SET category_id =
		#{history.categoryId},
		amount = #{history.amount},
		history_date =
		#{history.historyDate}
		WHERE history_id = #{historyId}
		AND user_id =
		#{userId}
	</update>

	<!--削除 -->
	<delete id="deleteHistory">
		DELETE FROM histories
		WHERE history_id = #{historyId}
		AND user_id =
		#{userId}
	</delete>

	<!-- historyIdから1件取得 -->
	<select id="findByHistoryId" resultType="com.example.app.domain.History">
		SELECT * FROM histories WHERE history_id = #{historyId}
	</select>
</mapper>